STAGE=

DB_BFF_USER=app
DB_BFF_NAME=bffdb
DB_BFF_PORT=5432
DB_BFF_SSLMODE=disable

DB_AUTH_USER=app
DB_AUTH_NAME=authdb
DB_AUTH_PORT=5433
DB_AUTH_SSLMODE=disable

HTTP_PORT=8080
AUTH_GRPC_ADDR=:9090
AUTH_GRPC_TARGET=auth:9090
AUTH_GRPC_PORT=9090
DB_HOST_OUTSIDE=localhost
DOMAIN=


DB_PASSWORD_BFF_FILE=./secrets/db_password_bff.txt
DB_PASSWORD_AUTH_FILE=./secrets/db_password_auth.txt
JWT_SECRET_FILE=./secrets/jwt_secret.txt
MIGR_BFF_DIR=./services/bff/migrations
MIGR_AUTH_DIR=./services/auth/migrations


APP_RESTART_POLICY=
AUTH_RESTART_POLICY=
