STAGE=

DB_HOST=db
DB_PORT=5432
DB_USER=app
DB_NAME=appdb
DB_SSLMODE=disable

HTTP_PORT=8080
DB_HOST_OUTSIDE=localhost
DOMAIN=




DB_PASSWORD_FILE=./secrets/db_password.txt
JWT_SECRET_FILE=./secrets/jwt_secret.txt
MIGR_DIR=./internal/infra/db/migrations


APP_RESTART_POLICY=