STAGE=

DB_HOST=db
DB_PORT=5432
DB_USER=app
DB_NAME=appdb
DB_SSLMODE=disable

HTTP_PORT=8080
DB_HOST_OUTSIDE=localhost
DOMAIN=




DB_PASSWORD_FILE=./secrets/db_password.txt
JWT_SECRET_FILE=./secrets/jwt_secret.txt
JWT_PRIVATE_KEY_FILE=./secrets/jwt_private_key.pem
JWT_ISS=authsvc
JWT_AUD=be2
JWKS_URL=http://authsvc:8081/.well-known/jwks.json
AUTH_HTTP_ADDR=:8081
MIGR_DIR=./internal/infra/db/migrations


APP_RESTART_POLICY=
