
bin/

# Секреты и локальные настройки
.env
.env.*.local

# Папка с файлами паролей
secrets/*
!secrets/.gitkeep

# SSL сертификаты (они должны генерироваться при деплое или локально)

# !nginx/conf.d/.gitkeep
!nginx/ssl/.gitkeep
nginx/ssl/*.key
nginx/ssl/*.crt
nginx/ssl/*.pem

